@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #F1D4D4;
    color: #790C5A;
}

.cabecalho__menu {
    background-color: #CC0E74;
    display: flex;
    gap: 40px;
    padding: 2%;
    justify-content: center;
}

.cabecalho__menu__link {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #F1D4D4;
    text-decoration: none;
}

.cabecalho__banner {
    text-align: center;
    background-color: #E6739F;
    padding: 5%;
}

.cabecalho__banner__texto {
    font-size: 1.2rem;
    color: #F1D4D4;
    padding-top: 1em;
}

.titulos {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1em;
}

.apresentacao {
    padding: 3% 15%;
}

.apresentacao__sobre {
    padding: 3em 0;
    width: 940px;
    text-align: center;
    margin: 0 auto;
}

.apresentacao__sobre p {
    margin-bottom: 1em;
}

#missao {
    font-size: 1.3rem;
}

.conteudo-beneficios {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
}

.lista-beneficios__itens {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.beneficios-img {
    width: 35%;
}

.apresentacao__beneficios__video {
    width: 940px;
    margin: 2em auto;
    border: 5px solid #790C5A;
}

.apresentacao__mapa {
    padding: 3em 2em;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}

.servicos li {
    flex-grow: 1;
    width: 30%;
    list-style: none;
    text-align: center;
    color: #FFFFFF;
    border: 10px solid #790C5A;
    border-radius: 10px;
    background-color: #790C5A;
}

.servicos li img {
    width: 100%;
    border-radius: 10px;
}

.servicos__descricao {
    padding: 0.8rem;
}

.servicos__descricao p {
    font-size: 1.1rem;
}

form {
    width: 600px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

form h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #CC0E74;
}

form label,
form legend {
    margin: 0 0 0.5em;
    font-size: 1.2rem;
}

.input-padrao {
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
    border-color: #CC0E74;
    border-radius: 12px;
    color: #CC0E74;
}

.botao {
    background: #CC0E74;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1rem;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

table {
    width: 400px;
    margin: 30px auto;
    border-collapse: collapse;
}

thead {
    background: #CC0E74;
    color: #FFFFFF;
}

td, th {
    border: 1px solid black;
    padding: 8px 18px;
}

footer {
    text-align: center;
    background-color: #CC0E74;
    color: #F1D4D4;
    padding: 18px;
}

footer img {
    width: 13%;
}